.logo{
   width: 8vw;
   height: 7vh;
}

.error-page{
   background-color: rgb(254, 254, 223);
   width: 100vw;
   height: 100vh;
   place-items: center;
}
.container-error{
   width: 60vw;
   height: 60vh;
}

.container-error img{
   width: 50vw;
   height: 50vh;
}


/* contact  */
.contact_info_row{
 
}

.contact_img{
   width: 100%;
   height: 60vh;
}
